.button{
  background: $brand-color-1;
  border-radius: 2px;
  height: 52px;
  line-height: 52px;
  font-size: 19px;
  color: $color-white;
  letter-spacing: 0;
  font-weight: 600;
  padding:0 16px;
  display: inline-block;

  &:hover{
    color: $color-white;
    background: darken($brand-color-1, 5%);
  }
  &:active{
    color: $color-white;
    background: darken($brand-color-1, 10%);
  }
}
