.conduct {
  margin-bottom: $baseline * 12;

  .title-1{
    margin-bottom: $baseline * 4;
  }
  .subhead-1,
  .title-3{
    margin-bottom: $baseline;
  }
  .body-2,
  .body-list {
    margin-bottom: $baseline * 3;
  }

  a{
    text-decoration: underline;
  }
}
