.footer{
  background-color: $background-color-darker;
  padding-bottom: $baseline * 16;

  hr{
    margin-bottom: $baseline * 12;
  }
}

.footer-quote{

}

.footer-contact{
  a{
    @extend .body-2;
    font-size: 15px;
    line-height: $baseline * 3;
    margin-bottom: $baseline;
  }
  .media-figure{
    margin-right: $baseline / 1.5;
  }
}
