.footer{
  padding: $baseline * 16 0;

  hr{
    margin-bottom: $baseline * 12;
  }

  a{
    @extend .body-2;
    font-size: 15px;
    line-height: $baseline * 3;
    margin-bottom: $baseline;
    img{
      opacity: .4;
    }
    &:hover {
      color: $color-title;
      img {
        opacity: .7;
      }
    }
  }
  .media-figure{
    margin-right: $baseline / 1.5;
  }
}

a.footer-privacy{
  display: inline-block;
  font-size: 13px;
  color: $color-light;
  margin-bottom: $baseline * 3;
}

.footer-quote {

  @media only screen and (min-width: $breakpoint-med) {
    text-align: right;
  }
}
