.hero{
  padding-top: $baseline * 4;
  padding-bottom:  $baseline * 18;

  .headline{
    margin-bottom: $baseline * 8;
  }
  .subhead-2 {
    margin-bottom: $baseline;
  }
}

.hero-shape-wrapper {
  position: relative;
  img{
    position: relative;
  }
  img.hero-shape{
    position: absolute;
    left: 0;
    transform: translate(-18%, 24%);
    width: 70%;
  }
}
