.hero{
  padding-top: $baseline * 2;
  padding-bottom:  $baseline * 18;

  .headline{
    margin-bottom: $baseline * 4;
  }
  .title-2{
    margin-bottom: $baseline * 12;
    position: relative;
    color: $color-body;
  }
  .subhead-2 {
    margin-bottom: $baseline;
  }
}

.hero-shape-wrapper {
  position: relative;
  img{
    position: relative;
  }
  img.hero-shape{
    position: absolute;
    left: 0;
    transform: translate(-14%, 28%);
    width: 70%;
    max-width: 425px;
  }
}

.hero-place-dot{
  display: none;
  @media only screen and (min-width: $breakpoint-small) {
    display: inline;
  }
}

.hero-place{
  display: block;
  @media only screen and (min-width: $breakpoint-small) {
    display: inline;
  }
}

.hero-images-container{
  @media only screen and (min-width: $breakpoint-large) {
    max-width: 76em;
  }
}

.hero-signature{
  position: absolute;
  bottom: $baseline * 3 * -1;
  left:  -2px;
}
