.hero{
  padding-top: $baseline * 2;
  padding-bottom:  $baseline * 18;

  .headline{
    margin-bottom: $baseline * 4;
  }
  .title-2{
    position: relative;
    color: $brand-color-1;
    margin-bottom: $baseline * 12;
  }
  .subhead-2 {
    margin-bottom: $baseline;
  }
}

.hero-shape-wrapper {
  position: relative;
  img{
    position: relative;
  }
  img.hero-shape{
    position: absolute;
    left: 0;
    transform: translate(-14%, 28%);
    width: 70%;
    max-width: 425px;
  }
}

.hero-place-dot{
  display: none;
  @media only screen and (min-width: $breakpoint-small) {
    display: inline;
  }
}

.hero-place{
  display: block;
  @media only screen and (min-width: $breakpoint-small) {
    display: inline;
  }
}

.hero-badge{
  font-size: 13px;
  display: inline-block;
  line-height: 24px;
  height: 24px;
  padding: 0 6px;
  border-radius: 3px;
  background:  $color-light;
  color: white;
  margin-left: 18px;
  position: relative;
  top: -3px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.25px;
}

.hero-images-container{
  @media only screen and (min-width: $breakpoint-med) {
    max-width: 76em;
  }
}

.hero-underline {
  position: absolute;
  bottom: $baseline * 2 * -1;
  left:  -2px;
}
