.history{
  margin-bottom: $baseline * 12;

  .title-1{
    color: $color-light;
    margin-bottom: $baseline * 2;
    strong{
      font-weight: normal;
      color: $color-title;
    }
  }
  .subhead-2{
    position: relative;
    margin-bottom: $baseline * 3;
  }
}
  .history-underline{
    position: absolute;
    bottom:  $baseline / 2 * -3;
    left:  $baseline / 2 * -1;
  }
