.organizer{
  margin-bottom: $baseline * 14;
}

  .organizer-wrapper{
    position: relative;
  }
    .organizer-card{
      /* base: */
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      box-shadow: $box-shadow;
      padding: $baseline * 5;

      .subhead-1 {
        margin-bottom: $baseline * 2;
      }

      .body-2 {
        margin-bottom: $baseline * 2;
      }

      a{
        display: inline-block;
        width:  $baseline * 3;
        height:  $baseline * 3;
        margin-right: $baseline * 1.5;
        img{
          opacity: .4;
        }

        &:hover img {
          opacity: .7;
        }
      }
    }

    .organizer-kuan,
    .organizer-shape{
      position: absolute;
    }
      .organizer-shape{
        display: none;

        @media only screen and (min-width: $breakpoint-med) {
          display: block;
          left: 35%;
          top:40%;
          width: 40%;
        }

        @media only screen and (min-width: $breakpoint-large) {
          left: 45%;
          top:35%;
          width: 24.68%;
        }
      }
      .organizer-kuan{
        display: none;

        @media only screen and (min-width: $breakpoint-med) {
          display: block;
          left: 60%;
          top:34%;
          width: 50%;
        }

        @media only screen and (min-width: $breakpoint-large) {
          top:24%;
          width: 32%;
        }
      }
