.organizer{
  background-image: linear-gradient(-179deg, $background-color 0%, $background-color-darker 100%);
  padding-bottom: $baseline * 24;
}

  .organizer-wrapper{
    position: relative;
  }
    .organizer-card{
      /* base: */
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      box-shadow: $box-shadow;
      padding: $baseline * 5;

      .subhead-1 {
        margin-bottom: $baseline * 2;
      }

      .body-2 {
        margin-bottom: $baseline * 2;
      }

      a{
        display: inline-block;
        width:  $baseline * 3;
        height:  $baseline * 3;
        margin-right: $baseline * 1.5;
        img{
          opacity: .4;
        }

        &:hover img {
          opacity: .7;
        }
      }
    }

    .organizer-kuan,
    .organizer-shape{
      position: absolute;
    }
      .organizer-shape{
        left: 45%;
        top:27%;
        width: 24.68%;
      }
      .organizer-kuan{
        left: 60%;
        top:20%;
        width: 32%;
      }
