.testimonial{
  margin-bottom: $baseline * 14;

  .title-1{
    margin-bottom: $baseline * 6;
  }

  .body-2{
    margin-bottom: $baseline * 3;
  }

  .testimonial-fix .body-2 {
    margin-bottom: $baseline * 3 + 28px;
  }

  .caption-2 {
    font-size: 12px;
  }

  .media{
    position: relative;
    align-items: center;
    padding-left: 20px;
  }

  .testimonial-margin {
    margin-bottom: $baseline * 8;
  }
}

.testimonial-shape {
  position: absolute;
  z-index: -1;
}
.testimonial-shape--lara {
  top: 11px;
  left: 31px;
}
.testimonial-shape--bersabel {
  top: 12px;
  left: 33px;
}
.testimonial-shape--amy {
  top: 13px;
  left: 27px;
}
.testimonial-shape--saron {
  top: 11px;
  left: 33px;
}


@media only screen and (min-width: $breakpoint-large) {
  .testimonial-left{
    padding-left: 40px;
    padding-right: 20px;
  }

  .testimonial-right{
    padding-left: 20px;
    padding-right: 40px;
  }
}
