.testimonial{
  margin-bottom: $baseline * 14;

  .title-1{
    margin-bottom: $baseline * 6;
  }

  .body-2{
    margin-bottom: $baseline * 3;
  }

  .testimonial-erin .body-2 {
    margin-bottom: $baseline * 3 + 28px;
  }

  .media{
    align-items: center;
    margin-bottom: $baseline * 4;
  }
}


@media only screen and (min-width: $breakpoint-large) {
  .testimonial-erin{
    padding-right: 10px;
  }

  .testimonial-becca{
    padding-left: 10px;
  }
}
