// Divider colors
$color-divider-dark: #E6DFE3;
$color-divider-light: #EBE8EA;

// Font colors
$color-title: #0E0B21;
$color-body: #615F6A;
$color-light: #615F6A;
$color-placeholder: #CCC8CA;
$color-error: #D41913;
$color-links: #0454E4;
$color-white: #FFFFFF;

// Background colors
$background-color: #FFFCFF;
$background-color-darker: #F7F5FF;

// Brand colors
$brand-color-1: #5562EB;

// Box Shadow
$box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
