// Divider colors
$color-divider-dark: #CCC8CA;

// Font colors
$color-title: #1A000E;
$color-body: #595055;
$color-placeholder: #CCC8CA;

// Background colors
$background-color-black: #181818;
$background-color-gray: #1F1F1F;

// Box Shadow
$box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
$box-shadow-dark: 0 2px 4px 0 rgba(0,0,0,0.22);
