// Divider colors
$color-divider-dark: #CCC8CA;
$color-divider-light: #E6DFE3;

// Font colors
$color-title: #1A000E;
$color-body: #595055;
$color-light: #A69DA2;
$color-placeholder: #CCC8CA;

// Background colors
$background-color: #FCFAF7;
$background-color-darker: #F7F5F2;

// Brand colors
$brand-color-1: #E35853;

// Box Shadow
$box-shadow: 0 1px 2px 0 rgba(0,0,0,0.08);
