// Const
$width: 96%;
$gutter: 2%;
$baseline: 8px;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 62em; // 940px

// Helpers
@import "colors";
@import "reset";
@import "helpers";
@import "fonts";
@import "grid";

// General Style
body {
  $__body-border: 0;
  //background: url(../assets/images/jamaica-1.jpg);
  background-color: $background-color;
  font-family: circular,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  color: $color-title;
  padding-top: $baseline * 8 - $__body-border;

  @media only screen and (min-width: $breakpoint-large) {
    border: $__body-border solid $background-color-darker;
    border-bottom: 0;
  }
}


a {

  &,
  &:visited{
      color: $color-title;
  }

  &:hover{
    color: lighten($color-title, 10%);
  }
  &:active{
    color: darken($color-title, 5%);
  }
}

.headline {
  font-size: 56px;
  color: $color-title;
  letter-spacing: 0;
  line-height: 64px;


  @media only screen and (min-width: $breakpoint-small) {
    font-size: 66px;
    line-height: 86px;
  }
}

.title-1 {
  font-size: 25px;
  color: $color-title;
  letter-spacing: 0;
  line-height: 37px;
}

.title-2 {
  font-size: 23px;
  color: $color-title;
  letter-spacing: 0;
  line-height: 32px;
}

.subhead-1 {
  font-size: 19px;
  color: $color-title;
  letter-spacing: 0;
  line-height: 32px;
}

.subhead-2 {
  @extend .subhead-1;
  color: $color-body;
}

.body-1 {
  font-size: 17px;
  color: $color-title;
  letter-spacing: 0;
  line-height: 28px;
}

.body-2 {
  @extend .body-1;
  color: $color-body;
}

.body-3 {
  @extend .body-1;
  color: $color-light;
  font-size: 15px;
}

.caption-1{
  font-size: 17px;
  color: $color-title;
  letter-spacing: 0;
  line-height: 20px;
}

.caption-2 {
  @extend .caption-1;
  color: $color-light;
  font-size: 15px;
}

.button{

}

.error{
  @extend .body-1;
  color: $color-error;
}

hr{
  height: 1px;
  border:0;
  margin: 0;
  padding: 0;
  background: $color-divider-light;
}


// Components
@import "components/header";
@import "components/hero";
@import "components/history";
@import "components/testimonial";
@import "components/organizer";
@import "components/subscribe";
@import "components/privacy";
@import "components/footer";
